{% extends 'layouts/app.html.twig' %}

{% block content %}
    <div class="box list dog-ear">
        <div id="create" v-on:click.prevent="create_list">
            <h1 class="header">Todo List</h1>
            <form class="item-add">
                <input type="text" name="name" placeholder="Skriv en ny to-do her." class="input" autocomplete="off" required>
                <input type="submit" value="Tilføj" class="submit">
            </form>
        </div>
    </div>

    {% if lists|length %}
        <div class="box list dog-ear">
            <h1 class="header">Offentlige Todo Liste</h1>
            <ul>
                {% for list in lists %}
                    <li><a href="{{ path_for('list', {'url': list.url}) }}">{{ list.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}
