{% extends 'layouts/app.html.twig' %}

{% block content %}
    <a href="{{ path_for('home') }}">Home</a>

    <div class="box list dog-ear">
        <div id="update" data-slug="{{ list.url }}">
            <todo-form></todo-form>
        </div>
    </div>
{% endblock content %}
